include ./mixins.pug
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    main
      .app-container
        nav
          .nav-container
            img(src='/images/WR_Sig_white.png' width="157" height="55")
            ul
              li
                a(href="/" data-nav) Home
              li
                a(href="/quotes" data-nav) Zitate
        img(src='/images/WR_header.jpg' height="500")
        #content.content-container
          block content
