mixin renderQuotes(quotes)
 .quotes
  for quote in quotes
    +renderSingleQuote(quote.fields)

mixin renderSingleQuote(fields)
 .quote
    p #{fields.zitat}

mixin renderQuoteOfTheDay(quote)
 .quote
    p #{quote.fields.zitat}


